body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(26, 23, 23);
  color: white;
}

form {
  width: 500px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: rgb(43, 38, 38);
  border-bottom: 1px solid lightgray;
  color: white;
}

.form-div {
  margin: 30px 0;
}

.form-div > button {
  width: 100%;
  padding: 7px;
  background-color: rgb(189, 218, 25);
  font-weight: bold;
  border: none;
  border-radius: 3px;
}
